/* 
all colors:

*/


:root {
  font-family:'Montserrat';
  background-color: var(--six-color);

  --first-color:#F5F5F5;
  --second-color:#686769;
  --third-color:#3C6E71;
  --fourth-color:#79B473;
  --fifth-color:#FF8C63;
  --six-color:#4C3957;
  --seventh-color:#C2C2C2;
  --eigth-color:#2F2E41;
}


header {
  background-color: var(--six-color);
  color: var(--first-color);
  font-weight: 300;
}

footer {
  background-color: var(--six-color);
  color: var(--first-color);
}

main{
  background-color: var(--first-color);
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left-nav{
  display: flex;
  gap: 20px;
}

.right-nav{
  display: flex;
  position: absolute;
  left: 75%;
  top: 10px;
}

li {
  display: inline;
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: var(--six-color);
}

.surveys-container{ 
  display: flex; 
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
} 
.small-surveys-card{
  box-shadow: 2px 5px 10px rgba(61, 61, 61, 0.5);
  border-radius: 10px;
  width: 1100px;
  height: 245px;
  align-self: center;
}

.survey-card-container{
  display: flex; 
  flex-direction: row;
}

.survey-card-left{
  width: 50%; 
  padding-left: 30px;
  text-align: left;
}

.survey-card-right{
  width: 50%; 
  padding-right: 30px;
  padding-top: 30px;
  text-align: right;
  justify-content: flex-end;
}

.survey-card-creator{
  color: #FF8C63;
}
.survey-card-title{
  color: #686769;
}
.survey-card-description{
  color: black;
}
.survey-card-price span{
  
  color: #79B473;
  font-size:xx-large;
}
.survey-card-price small{
  color: #2F2E41;
}
.survey-card-price{
  margin-right: 250px;
}

.survey-card-button-link{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 150px;
  display: inline-block;
  height: 50px;
  width: 234px;
  text-align: center;
  line-height: 45px;
  border-radius: 50px;
  align-content:center;
  background-color:#3C6E71;
  color: white;
}

/* .survey-card-button-link:hover{
  box-shadow: 2px 5px 10px rgba(61, 61, 61, 0.5);
  text-decoration: underline;
} */
.link-class:hover{
  box-shadow: 2px 5px 10px rgba(61, 61, 61, 0.5);
  text-decoration: underline;
  cursor: pointer;
}

.survey-card-time-to-spend{
  margin-right: 150px;
  color: #686769;
}
a {
    all: unset;
}

.login-page-container{
  margin: 0 auto; 
  margin-top: 10%;
  color: #686769;
  height: 500px;
  width: 379px;
}

.login-page-container h2{
  color: #686769;
  font-weight:bold;
}

input[type=text], input[type=password] {
  border-radius: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color:#79B473;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}